github "Alamofire/Alamofire"
github "Alamofire/AlamofireImage"
#github "duemunk/Async"
github "antitypical/Result"
github "0xced/XCDYouTubeKit"
github "TransitApp/SVProgressHUD"
#github "radex/SwiftyUserDefaults"
github "realm/realm-cocoa"
github "cruffenach/CRToast"
github "DaveWoodCom/XCGLogger"
github "JohnEstropia/GCDKit"
github "ashleymills/Reachability.swift"
